# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache
.coverage
coverage.xml
htmlcov/

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Outros
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production
.env.example

# Específico do projeto
staticfiles/
media/
logs/
*.log
db.sqlite3

# Docker
docker-compose.override.yml