#################################################################
# Site 1 – Sintracpar
#################################################################
sintracpar.org, www.sintracpar.org {
    reverse_proxy web:8000

    handle_path /static/* {
        root * /app/sintrac_static
        file_server
    }

    handle_path /media/* {
        root * /app/sintrac_media
        file_server
    }

    log {
        output stdout
    }
}

#################################################################
# Site 2 – Hotel
#################################################################
pousadapajeusystem.space, www.pousadapajeusystem.space {
    reverse_proxy hotel_app:8001

    handle_path /static/* {
        root * /app/hotel_static
        file_server
    }

    handle_path /media/* {
        root * /app/hotel_media
        file_server
    }

    log {
        output stdout
    }
}