#################################################################
# Site 2 – Hotel
#################################################################
pousadapajeusystem.space, www.pousadapajeusystem.space {
    # Logging para depuração
    log {
        output stdout
        format json
        level INFO
    }

    # Configuração TLS para facilitar a obtenção de certificados
    tls {
        issuer acme {
            email Sintracpardenuncia@gmail.com
            # Usar o servidor de produção do Let's Encrypt
            # Se tiver problemas, você pode usar o servidor de staging descomentando a linha abaixo
            # ca https://acme-staging-v02.api.letsencrypt.org/directory
        }
    }

    # Habilita o desafio HTTP para validação de certificados (importante!)
    handle /.well-known/acme-challenge/* {
        root * /data/caddy/acme-challenges
    }

    # Roteamento para o contêiner da aplicação
    handle {
        reverse_proxy hotel_app:8001
    }

    # Arquivos estáticos e mídia
    handle_path /static/* {
        root * /app/hotel_static
        file_server
    }

    handle_path /media/* {
        root * /app/hotel_media
        file_server
    }
}